<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 pt-5 mx-auto">
      <div class="form-group">
        <%= form_with model: @list do |f| %>
          <p>部位:<%= f.text_field :part %></p>
          <%= f.submit "追加" %>
        <% end %>        
      </div>
    </div>
  </div>
</div>


