<h1>Matyocular</h1>

<h3>
  <%= link_to "Let's Training.Tap to start", new_user_session_path %>
</h3>

<h6>
  <%= link_to new_user_registration_path do %>
    sign up
    <i class="fa-solid fa-right-to-bracket"></i>
  <% end %>
</h6>