
<h2>操作選択</h2>

<%= link_to "ユーザー一覧", admin_users_path %>
<%= link_to "投稿一覧", admin_posts_path %>
<%= link_to "トレーニング部位追加", new_admin_training_list_path %>
<%= link_to "トレーニング種目追加", new_admin_training_menu_path %>

